
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* body{
    background-image:url(https://d1tm14lrsghf7q.cloudfront.net/public/media/2610/conversions/287227-cover.jpg) ;
} */
/* navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f0d312;
    padding: 10px 20px;
}

.nav-left, .nav-right {
    display: flex;
    align-items: center;
}
.nav-right{
    display: flex;
    align-items: center;
    justify-content: space-between;
} 
.nav-button, .search-button {
    background-color:red;
    border-radius: 10px;
    color: white;
    border: none;
    padding: 10px;
    margin: 0 5px;
    cursor: pointer;
}
.search-button{
    background-color:blue ;
    border-radius: 10px;
   
}
.nav-right2{
   
    padding-right:10px; 
}
.cart-button{
    background-color: green;
    padding-top:4px;
    border-radius: 10px;
    color: white;
    border: none;
    cursor: pointer;
    width:40px;
    
}
#span_id{
    height:6px;
    width:6px;
}

.nav-button:hover, .search-button:hover, .cart-button:hover {
    background-color: #ed6b6b;
}

.search-bar {
    padding: 10px;
    border: none;
    margin-right: 5px;
    border-radius: 10px;
}

.search-bar:focus {
    outline: none;
}
/* complete */
.productContainer{
  
    /* border: 2px solid gray; */
    display: flex;
    flex-wrap: wrap;
    gap: 100px;
    justify-content: center;
}
.productCard{
    /* border: 2px solid rgb(172, 28, 28); */
    margin-top:10px;
    background: white;
    box-shadow: 0px 0px 30px  #888888;
    border-radius:10px;
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
    padding: 10px;
    gap: 20px;
}
.productTitle{
    height: 30px;
    font-size: 20px;
}
.productImage{
    width: 300px;
    height: 300px;
}
.productDescription{
    text-overflow: ellipsis;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
}
.productPrice{
    color:red;
}
.addToCart{
    padding: 5px;
    width:80px;
    color:white;
    background-color:orangered ;
    border: none;
}